.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 200px;
    gap: 44px;

    background: #00113B;
    margin-top: -170px;
}
.cadre-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 100px 80px;
    gap: 32px;
    margin:0 200px;

    background: #4C40F7;
    border-radius: 20px;
    position: relative;
    z-index:1;
}
  
.footer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    }

.footer-title p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-title h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;

    letter-spacing: -0.1px;
    color: #FFFFFF;
}

.input-mail{
    padding: 20px 28px;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid #4C40F7;
    box-shadow: 0px 8px 50px #3123F8;
    border-radius: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding-bottom: 44px;
    border-bottom: 1px solid #FFFFFF; 
    padding-top: 190px;
    
}

.col1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px; 
    flex-grow: 4;  
}

.footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.col2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    flex-grow: 4;  

}

.footer h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.col3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    flex-grow: 2;  

}

.text-col3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.footer-bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.footer-copy {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #ABAFC7;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.footer-nav a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ABAFC7;
}

.footer-reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
@media (min-width:1440px) {

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 200px;
        gap: 44px;
    
        background: #00113B;
        margin-top: -170px;
    }
    .cadre-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 100px 80px;
        gap: 32px;
        margin:0 200px;
    
        background: #4C40F7;
        border-radius: 20px;
        position: relative;
        z-index:1;
    }
      
    .footer-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        }
    
    .footer-title p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .footer-title h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 56px;
    
        letter-spacing: -0.1px;
        color: #FFFFFF;
    }
    
    .input-mail{
        padding: 20px 28px;
        gap: 10px;
        background: #FFFFFF;
        border: 2px solid #4C40F7;
        box-shadow: 0px 8px 50px #3123F8;
        border-radius: 11px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }
    
    .content-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
        padding-bottom: 44px;
        border-bottom: 1px solid #FFFFFF; 
        padding-top: 190px;
        
    }
    
    .col1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px; 
        flex-grow: 4;  
    }
    
    .footer p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    
    .col2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        flex-grow: 4;  
    
    }
    
    .footer h6{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .col3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        flex-grow: 2;  
    
    }
    
    .text-col3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
    }
    
    .footer-bas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        width: 100%;
    }
    
    .footer-copy {    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    
        text-align: center;
    
        color: #ABAFC7;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 40px;
    }
    
    .footer-nav a{
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ABAFC7;
    }
    
    .footer-reseaux{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 10px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px)  {
    body{
        background-color: rgb(255, 0, 247);
    }
    .footer{
        padding: 60px 60px;
        gap: 44px;
    }
    .cadre-footer{
        padding: 60px 100px 80px;
        margin: 0 60px;

    }
    
    .col1{
        flex-grow: 4;  
    }
    
    .footer p{
        font-size: 14px;
    }
    
    .col2{
        padding: 0px;
        flex-grow: 4;  
    }
    
    .footer h6{
        font-size: 18px;
    }
    
    .col3{
        padding: 0px;
        flex-grow: 2;  
    }
    
    .footer-bas{
        gap: 100px;
        width: 100%;
    }
    
    .footer-copy {    
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    
    .footer-nav{
        padding: 0px;
        gap: 15px;
    }
    
    .footer-nav a{
        font-size: 14px;
    }
    
    .footer-reseaux{
        padding: 0px;
        gap: 10px;
    }
}
@media (max-width:1024px) {
    body{
        background-color: yellow;
    }
    .footer{
        padding: 60px 60px;
        gap: 44px;
    }
    .cadre-footer{
        padding: 60px 100px 80px;
        margin:0 60px;
    }      
    .footer-title{
        padding: 0px;
        }
    
    .footer-title p{
        font-size: 16px;
    }
    
    .footer-title h3{
        font-size: 32px;
        letter-spacing: -0.15px;
    }
    
    .input-mail{
        padding: 20px 28px;
        gap: 10px;
        background: #FFFFFF;
        border: 2px solid #4C40F7;
        box-shadow: 0px 8px 50px #3123F8;
        border-radius: 11px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;  
    }
    
    .content-footer {
        gap: 100px;
        padding-bottom: 44px;
        border-bottom: 1px solid #FFFFFF; 
        padding-top: 190px;
        flex-wrap: wrap;
    }
    
    .col1{
        padding: 0px 24px;
        flex-grow: 4;  
    }
    
    .footer p{
        font-size: 14px;
        line-height: 24px;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    
    .col2{
        padding: 0px 24px;
        gap: 32px;
        flex-grow: 4;  
    
    }
    
    .footer h6{
        font-size: 18px;
        line-height: 28px;
    }
    
    .col3{
        padding: 0px 24px;
        flex-grow: 2;  
    
    }
    
    .text-col3{
        padding: 0px;
        gap: 20px;
    }
    
    .footer-bas{
        gap: 50px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .footer-copy {    
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    
    .footer-nav{
        padding: 0px;
        gap: 40px;
    }
    
    .footer-nav a{
        font-size: 14px;
        line-height: 24px;
    }
    
    .footer-reseaux{
        padding: 0px;
        gap: 10px;
    }
}
@media screen and (max-width:768px) {
    body{
        background-color: blue;
    }
    .footer{
        padding: 0px 24px;
        gap: 40px;
    }
    .cadre-footer{
        padding: 60px 32px 80px;
        gap: 32px;
        margin:0 24px;
    
    }
      
    .footer-title{
        padding: 0px;
        gap: 16px;
        }
    
    .footer-title p{
        font-size: 16px;
        line-height: 24px;
    }
    
    .footer-title h3{
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.15px;
    }
    
    .input-mail{
        padding: 20px 28px;
        gap: 10px;
        background: #FFFFFF;
        border: 2px solid #4C40F7;
        box-shadow: 0px 8px 50px #3123F8;
        border-radius: 11px;
        font-size: 18px;
        line-height: 32px;
        width: 280px;
    }
    
    .content-footer {
        gap: 100px;
        padding-bottom: 44px;
        padding-top: 250px;
        flex-wrap: wrap;
    }
    
    .col1{
        gap: 32px;
        flex-grow: none;
        padding: 0 60px;
    }
    
    .footer p{
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    
    .col2{
        gap: 32px;
        flex-grow: none;  
        padding: 0 60px;
    }
    .col2 img{
        width:300px;
    }
    
    .footer h6{
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .col3{
        gap: 32px;
        flex-grow: none;  
        padding: 0 60px;
    }
    
    .text-col3{
        padding: 0px;
        gap: 20px;
    }
    
    .footer-bas{
        gap: 50px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .footer-copy {    
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    
    .footer-nav{
        padding: 0px;
        gap: 15px;
    }
    
    .footer-nav a{
        font-size: 14px;
        line-height: 24px;
        color: #ABAFC7;
    }
    
    .footer-reseaux{
        padding: 0px;
        gap: 10px;
    }
}
@media (max-width:1024px) {

    .footer{
        padding: 0px 24px;
        gap: 40px;
    }
    .cadre-footer{
        padding: 60px 32px 80px;
        gap: 32px;
        margin:0 24px;
    }
      
    .footer-title{
        padding: 0px;
        gap: 16px;
        }
    
    .footer-title p{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    
    .footer-title h3{
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.15px;
    }
    
    .input-mail{
        padding: 20px 28px;
        gap: 10px;
        background: #FFFFFF;
        border: 2px solid #4C40F7;
        box-shadow: 0px 8px 50px #3123F8;
        border-radius: 11px;
        font-size: 18px;
        line-height: 32px;
    }
    
    .content-footer {
        gap: 100px;
        padding-bottom: 44px;
        padding-top: 250px;
        flex-wrap: wrap;
    }
    
    .col1{
        gap: 32px;
        flex-grow: none;
        padding: 0 60px;
    }
    
    .footer p{
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    
    .col2{
        gap: 32px;
        flex-grow: none;  
        padding: 0 60px;
    }
    .col2 img{
        width:800px;
    }
    
    .footer h6{
        font-size: 26px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .col3{
        gap: 32px;
        flex-grow: none;  
        padding: 0 60px;
    }
    
    .text-col3{
        padding: 0px;
        gap: 20px;
    }
    
    .footer-bas{
        gap: 50px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    
    .footer-copy {    
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    
    .footer-nav{
        padding: 0px;
        gap: 10px;
    }
    
    .footer-nav a{
        font-size: 20px;
        line-height: 24px;
    }
    
    .footer-reseaux{
        padding: 0px;
        gap: 10px;
    }
}
