
.navbar{
  display: flex;

  /*background-color: #1DBBFF;*/
  height: 120px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 160px;
  gap: 85px;


}


.ellipse{
  background: #4C40F7;
  box-shadow: -5px 10px 30px rgba(76, 64, 247, 0.5);
  border-radius: 15px;
  width: 48px;
  height: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btn-contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 35px;
  gap: 10px;
  cursor: pointer;

  width: 160px;
  height: 64px;
  background: #4C40F7;
  border-radius: 12px;
  border:none;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color:#fff;
}
.btn-contact-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 35.5px ;
  gap: 10px;
  cursor: pointer;
  
  width: 200px;
  height: 64px;

  background: #4C40F7;
  border-radius: 12px;
  border:none;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color:#fff;
}

.btn-contact:hover{
  box-shadow: -5px 10px 30px rgba(76, 64, 247, 0.5);
}

.btn-contact-2:hover{
  box-shadow: -5px 10px 30px rgba(76, 64, 247, 0.5);
}

.nav-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;

  display: flex;
  align-items: center;
  text-align: center;

  color: #6B6B6B;
}

.nav-text:hover{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;

  display: flex;
  align-items: center;
  text-align: center;

  color: #4C40F7;
}

.nav{
  display: flex;
  gap: 81.5px;
}
.navbar-mobile{
  display: none;
}

@media (max-width: 720px) {
  .navbar {
    display: none !important;
  }
  .navbar-mobile{
    display: flex;
    padding:24px;

  }
}