$marin-blue: #4C40F7;
$pink:#FF2D59;
$green:#4ADB61;
$yellow: #FFCC00;
$blue:#007BFF;
$orange:#FF6800;
.sect1-1{
  display: flex;
  flex-direction: column;
  width: 50%;
  display: flex;
  justify-content:  center;
  gap: 24px

}

.sect1-2{
  display: flex;
  flex-direction: column;
  width: 50%;
  display: flex;
  justify-content:  center;
  align-items: flex-end;

}

.sect-text{
  width: 370px;
}

.sect2-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:20px;
  margin-bottom: 60px;
}

.sect3-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: #6B6B6B;
}
.card-sect3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 28px;
  gap: 20px;

  width: 270px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.08);
  border-radius: 20px;
}

.list{
  display: flex;
  gap: 22.8px;
  justify-content: center;
  align-items: center;
}

.sect4-text{
 
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1px;

  color: #FFFFFF;
}

.sect4-title{
  text-align: center;;
  color: #FFFFFF;

}



.fleche{
  fill:#ABAFC7;
}



.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width:45px;
  height: 45px;
  border-radius: 50px;
  fill:"#ABAFC7";
  background: #FFFFFF;
  cursor: pointer;
}

.circle:hover .fleche {
  fill:rgb(255, 255, 255);
}


.circle:hover{
  background: #4C40F7;
}

.right{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.question{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;

  border: 1px solid #D8D8D8;
  border-radius: 8px;

}
.question2{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;
  padding-bottom: 0;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  border-bottom: none;

  border-radius: 8px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;

}

.question3{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;
  padding-top:0px;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.trait{
  border: 1px solid #D8D8D8;
  width: 100%;
  margin: 28px 0px;
}

.fleche-bas{
  cursor:pointer;
}

.card-ellipse{
  // border-radius: 50px;
  // width:97px;
  // min-height: 97px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &_1 {
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $marin-blue;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_2{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pink;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_3{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_4{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $yellow;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_5{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_6{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $orange;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
}

.card-1 {
  background: #ffffff;
}
.card-2{
  background-color: #fff;
}
.card-3{
  background-color: #fff;
}

.card-4{
  background-color: #fff;
}

.card-5{
  background-color: #fff;
}

.card-6{
  background-color: #fff;
}




.fill{
  fill:#fff;
  
}
.card-fleche{
  background: #F3F4F6;
  border-radius: 50px;
  width: 45px;
  min-height: 45px;
  text-align: center;
  padding:17.41px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.card h6{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  
}

.card h6:hover{
  color:#fff;
}

@media (max-width: 800px){
  .sect1-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content:  center;
    gap: 24px

  }

  .sect1-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content:  center;
    align-items: flex-end;

  }
}