$marin-blue: #4C40F7;
$pink:#FF2D59;
$green:#4ADB61;
$yellow: #FFCC00;
$blue:#007BFF;
$orange:#FF6800;
.sect1-1{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content:  center;
  gap: 24px

}

.sect1-2{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content:  center;
  align-items: flex-end;

}

.sect-text{
  max-width: 370px;
}

.sect2-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:20px;
  margin-bottom: 60px;
}

.sect3-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: #6B6B6B;
}
.card-sect3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 28px;
  gap: 20px;
  width:100%;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.08);
  border-radius: 20px;
}

.list{
  display: flex;
  gap: 22.8px;
  justify-content: center;
  align-items: center;
}

.sect4-text{
 
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1px;

  color: #FFFFFF;
}

.sect4-title{
  text-align: center;;
  color: #FFFFFF;

}



.fleche{
  fill:#ABAFC7;
}



.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12px;
  border-radius: 50px;
  fill:"#ABAFC7";
  background: #FFFFFF;
  cursor: pointer;
}

.circle:hover .fleche {
  fill:rgb(255, 255, 255);
}


.circle:hover{
  background: #4C40F7;
}

.right{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.question{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;

  border: 1px solid #D8D8D8;
  border-radius: 8px;

}
.question2{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;
  padding-bottom: 0;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  border-bottom: none;

  border-radius: 8px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;

}

.question3{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  justify-content: space-between;
  padding:32px;
  padding-top:0px;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.trait{
  border: 1px solid #D8D8D8;
  width: 100%;
  margin: 28px 0px;
}

.fleche-bas{
  cursor:pointer;
}

.card-ellipse{
  // border-radius: 50px;
  // width:97px;
  // min-height: 97px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &_1 {
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $marin-blue;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_2{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pink;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_3{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_4{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $yellow;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_5{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
  &_6{
    border-radius: 50px;
    width:97px;
    min-height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $orange;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
  }
}

.card-1 {
  background: #ffffff;
}
.card-2{
  background-color: #fff;
}
.card-3{
  background-color: #fff;
}

.card-4{
  background-color: #fff;
}

.card-5{
  background-color: #fff;
}

.card-6{
  background-color: #fff;
}




.fill{
  fill:#fff;
  
}
.card-fleche{
  background: #F3F4F6;
  border-radius: 50px;
  width: 45px;
  min-height: 45px;
  text-align: center;
  padding:17.41px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.card h6{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  
}

.card h6:hover{
  color:#fff;
}

.card-testimonial h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;

  color: #111029;
}

.card-testimonial p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ABAFC7;


}



.cadre7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 80px;
  gap: 32px;

  /* Color/secondary 3 */
  background: #FFCC00;
  border-radius: 20px;
}

.sect7-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.sect7-title p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.sect7-title h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;

  letter-spacing: -0.1px;
  color: #FFFFFF;
}

.content8 h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #111029;
  margin:60px 115px;
}


.cadre-work1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  background: #4C40F7;
  border-radius: 28px;
}

.cadre-work1 img {
  filter: drop-shadow(-20px -20px 100px rgba(23, 13, 166, 0.5));
}
.cadre-work2{
  display: flex;
  flex-direction: row;
  background: #FFCC00;
  border-radius: 28px;
}

.cadre-work2 img {
  filter: drop-shadow(-20px -20px 100px rgba(23, 13, 166, 0.5));
  padding-top: 83px;
}


.cadre-work3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  background: #FF2D59;
  border-radius: 28px;
}

.cadre-work3 img {
  filter: drop-shadow(-20px -20px 100px rgba(161, 16, 46, 0.5));
}

.cadre-work4{
  display: flex;
  flex-direction: row;
  background: #007BFF;
  border-radius: 28px;
}

.cadre-work4 img {
  filter: drop-shadow(-20px -20px 100px rgba(23, 13, 166, 0.5));
  padding-top: 83px;
}

.cadre-work5{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  background: #00113B;
  border-radius: 28px;
}

.cadre-work5 img {
  filter: drop-shadow(-20px -20px 100px rgba(23, 13, 166, 0.5));
}

.cadre-work6{
  display: flex;
  flex-direction: row;
  background: #5CC8FC;
  border-radius: 28px;
}

.cadre-work6 img {
  filter: drop-shadow(-20px -20px 100px rgba(23, 13, 166, 0.5));
  padding-top: 83px;
}


.text-cadre{
  max-width: 400px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 60px;
  gap: 32px;
  align-self: center;


}

.text-cadre h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  display: flex;
  align-items: center;
  letter-spacing: -0.1px;
  color: #FFFFFF;
}

.text-cadre h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.rectangle-trait{
  width: 300px;
  height: 4px;
  background: #FFFFFF;


}
@media (min-width:1440px) {

}


@media (min-width: 1024px) and (max-width: 1440px)  {
  // body{
  //     background-color: rgb(255, 0, 247);
  // }

}


@media (max-width:1024px) {
  // body{
  //     background-color: yellow;
  // }
  .content8 h2{
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #111029;
    margin: 24px auto;
  }

}

@media (max-width:768px) {
  // body{
  //     background-color: blue;
  // }

  .content7{
      padding: 120px 24px;
  } 

  .sect7-title h3{
      font-size: 32px;
  }

  .cadre7{
      padding: 60px 60px 80px;
  }
  .content8 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #111029;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 24px auto;

  }
  .title-h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    /* or 140% */
    text-align: center;

    /* Text/Dark */
    color: #111029;
  }
}

@media (max-width:320px) {
  // body{
  //     background-color: red;
  // }
  .content7{
      padding: 120px 24px;
  } 

  .sect7-title h3{
      font-size: 32px;
  }

  .cadre7{
      padding: 60px 24px 80px;
  }
  .content8 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #111029;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 24px auto;

  }
  .title-h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #111029;
  }
}