@mixin font-poppins($weight, $path) {
  @font-face {
    font-family: "Poppins";
    src: url($path) format("truetype");
    font-weight: $weight;
  }
}

@include font-poppins(700, "/src/assets/fonts/Poppins-Bold.ttf");
@include font-poppins(600, "/src/assets/fonts/Poppins-SemiBold.ttf");
@include font-poppins(500, "/src/assets/fonts/Poppins-Medium.ttf");
@include font-poppins(400, "/src/assets/fonts/Poppins-Regular.ttf");
@include font-poppins(300, "/src/assets/fonts/Poppins-Light.ttf");
@include font-poppins(200, "/src/assets/fonts/Poppins-ExtraLight.ttf");
@include font-poppins(100, "/src/assets/fonts/Poppins-Thin.ttf");